<div class="user_container clearfix">
  <div class="image_container">
    <%= image_tag @user.image.url, class: "user_image img-thumbnail img-circle" %>
  </div>
  <div class="info_container">
    <p>name : <%= @user.name %></p>
    <p>email : <%= @user.email %></p>
    <% if @user.id == @current_user.id%>
      <p><%= link_to 'プロフィールを編集', edit_user_path(@user.id), class: "btn btn-outline-warning" %></p>
    <% end %>
  </div>
</div>
