<div class="user_container clearfix">
  <p>name : <%= @user.name %></p>
  <p>email : <%= @user.email %></p>
  <% if @user.id == @current_user.id%>
    <p><%= link_to 'プロフィールを編集', edit_user_path(@user.id), class: "btn btn-outline-warning" %></p>
  <% end %>
</div>
