.clearfix::after {
   content: "";
   display: block;
   clear: both;
}
.user_container {
  display: block;
  padding-bottom: 36px;
  border-bottom: solid 1px #c0c0c0;
}
.image_container {
  padding: 5px 50px;
  float: left;
}
.user_image, .file_mask{
  width: 160px;
  height: 160px;
}
#file_01,#mask_file_01{
  display:none;
}
.file_mask{
  background-position:left top;
  cursor: pointer;
  border-radius: 50%;
  margin: 0;
}
.file_mask:hover{
  background-position:left bottom;
}
.info_container {
  // float: left;
  font-size: 24px;
  line-height: 120%;
  vertical-align: middle;
}
